/* BORDERS */
/* .light-pink-border {
    border: 3px solid pink; 
}
.blue-border {
    border: 1px solid rgb(99, 185, 255);
}  */

/* GRID-BORDERS */
/* .yellow-border {
    border: 1px solid rgb(255, 238, 111);
}
.purple-border {
    border: 1px solid rgb(170, 147, 208);
} */
/* .red-border {
    border: 1px solid red;
} */

/* BORDER around STORIES */
.light-gray-border { 
    border: 2px solid lightgray;
}

.parent-div {
    /* setter innholdet på siden til å være sentrert */
    margin: auto;
    max-width: 700px;
    padding: 15px;
}
.header {
    text-align: center;
}

/* GRID */
.grid-container-search-form {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.grid-container-select-section {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.grid-element-one {
    /* filter-delen være på rad nummer en og dekke kolonne 1-5 */
    grid-row: 1;
    grid-column: 1/5; 
    margin-right: 0.5%;
}
.grid-element-two {
    /* sort-delen være på rad nummer to og dekke kolonne 1-5 */
    grid-row: 2;
    grid-column: 1/5;  
    margin-right: 0.5%;
}
.grid-element-three {
    grid-row:  2;
    grid-column: 5 / 5;
    /* ka gjer dissa to her:???? */
    outline: none;
    display: inline-block;
}
.grid-element-picture {
    grid-row:  1/3;
    grid-column: 5 / 5;
}
.column {
    /* sørger for at label og drop-down vises på hver sin rad */
    display: flex;
    flex-direction: column;
}

/* SEARCH */
.search-btn {
    /* makes button fill the entire width of its container */
    width: 100%;
    background-color: #f4f4f4; 
    border:1px solid #63ae59;
    color: black;
    transition: all 0.3s ease 0s;
    border-radius: 3px;  
    font-size:medium;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.search-btn:hover {
    background-color: #9ed596;
    border:1px solid #63ae59;
    color: black;
}

/* SELECT */
#filter-drop-down {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: gray;
}
#sort-drop-down {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: gray;
}

/* RESULTS */
.story-div {
    margin-bottom: 1.5%;
    padding: 2%;
}

/* FLEX */
.flex-container-bottom-row {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}
.flex-element-favorite {
    margin-right: 0 !important;
    margin-left: auto;
    padding-top: 0.25em;
}
.read-more-btn {
     /* makes button fill the entire width of its container 
     Og det e width:100% som sørger for at knappen ikke går utenfor containeren 
     sin når vi minimerer siden*/
     width: 100%;
     background-color: #f4f4f4; 
     border:1px solid #63ae59;
     color: black;
     transition: all 0.3s ease 0s;
     border-radius: 3px;  
     font-size:medium;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
     padding-top: 0.25em;
     padding-bottom: 0.25em;
     padding-left: 1em;
     padding-right: 1em;
     cursor: pointer;
}
.read-more-btn:hover {
    background-color: #9ed596;
    border:1px solid #63ae59;
    color: black;
}


@media (max-width: 40em) {        
    /* når skjermen blir mindre så skal bildet, filter-select og sort-select elementene plasseres i hver sin rad */
    .grid-container-select-section {
        display: block;
        padding: 0;
    }
    .grid-element-picture{
        max-height: 90px;
        margin-bottom: 1em;
    }
    img {
        /* gjøres for å unngå at bildet blir kjempestort */
        max-height: 100px;
        /* sentrerer bildet i midten ved å skrive: */
        margin: auto;
        padding-top: 0;
    }
}

.notFound {
    text-align: center;
}

/* BOTTOM ROW */
@media (max-width: 300px) {
    .flex-container-bottom-row {
        flex-direction: column;
    }
    .flex-element-favorite {

        width: 100%;
        /* for å få align-items til å fungere så må det skrives display:flex først */
        display: flex;
        align-items: center;
    }
    .favorite-div {
        margin: auto !important;
    }
}